<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список жанров</title>
</head>
<body>
<h1>Список жанров</h1>

<a th:href="@{/genres/add}">Добавить жанр</a>

<ul>
  <li th:each="genre : ${genres}">
    <span th:text="${genre.name}"></span>
    <a th:href="@{/genres/edit/{id}(id=${genre.id})}">Редактировать</a>
    <form th:action="@{/genres/delete/{id}(id=${genre.id})}" method="post" style="display:inline;">
      <button type="submit">Удалить</button>
    </form>
  </li>
</ul>
</body>
</html>
